@model PrimarieWeb.Models.Eveniment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Eveniment</h4>
<hr />
<div class="row">
    <div class="col-md-4 table-white">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="numeEveniment" class="control-label"></label>
                <input asp-for="numeEveniment" class="form-control" />
                <span asp-validation-for="numeEveniment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriere" class="control-label"></label>
                <input asp-for="descriere" class="form-control" />
                <span asp-validation-for="descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataEveniment" class="control-label"></label>
                <input asp-for="dataEveniment" class="form-control" />
                <span asp-validation-for="dataEveniment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CetateanId" class="control-label"></label>
                <select asp-for="CetateanId" class ="form-control" asp-items="ViewBag.CetateanId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="highlight">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
